*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

}

body {
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  position: relative;
  height: 100vh;
  width: 100vw;

  background-image: url("./assets/images/bg-pattern-top-desktop.svg"),
                    url("./assets/images/bg-pattern-bottom-desktop.svg")
 ;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: max(75%, 40rem), max(25%, 40rem);

}


.attribution {
  font-size: 1.1rem;
  text-align: center;
  color: rgba($very-Dark-Magenta, .5);
  position: absolute;
  margin: 1rem;
  bottom: 0;
  right: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
