.home {
  margin-left: auto;
  margin-right: auto;
  padding: 10rem;


  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  gap: 3rem;

  @include respond(tab-port) {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 3rem;


  }

}
