.ratings-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-column: 2 / 3;
  grid-row: 1 / 2;


  //@for $i from 1 through 3 {
  //  & > *:nth-child(#{$i}) {
  //    transform: translateX(4.5rem * $i - 1);
  //  }
  //}

  & > *:nth-child(1) {
    transform: translateX(- (4.5rem * 2));
  }

  & > *:nth-child(2) {
    transform: translateX(-4.5rem);
  }


}
